* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  height: 100vh;
  overflow: auto;
  background: #292588;
  font-size: 18px;
  font-weight: bold;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
